.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
.btn {
  padding: 10px 20px;
  background-color: #008cba;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  width: fit-content;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
