.navList {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  text-decoration: none;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 700;
  font-size: 25px;
}

.navList a {
  text-decoration: none;
  color: black;
}
.navList a:hover,
:focus {
  color: rgb(236, 19, 19);
}

.homeLink {
  margin-raigth: 50px;
}
